<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button">
        manage <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit the Recipes</a></li>
        <li><a href="#">Delete the recipe</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">Desciption</div>
  </div>
  <div class="row">
    <div class="col-xs-12">Ingrediants</div>
  </div>
</div>
